<h1>ACtors!!</h1>

<table class="table">
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Nationality</th>
        <th>DOB</th>
    </tr>
   <% @actors.each do |actor| %>
    <tr>
        <td><%= link_to actor.name, actor %> </td>
        <td></td>
        <td></td>
        <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
        <td><%= link_to 'Delete', actor_path(actor), method: :delete, data: {confirm: "Are you sure you want to delete #{actor.first_name}?" } %></td>
    </tr>
    <% end %>
    
</table>